<nav>
		<div class="menu">
			<ul>
				<li><%= link_to "Home", movies_path %></li>
				<li><%= link_to "Contact us", new_contact_path %></li>
				<% if current_user.try(:admin?) %>
				  <li><%= link_to "List of questions", contacts_path %></li>
				<% else %>

				<% end %>
				<li><%= link_to "Movies", movies_path %>
				</li>	
				<% if user_signed_in? %>
 					<li>
  					<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>        
  					</li>
				<% else %>
  					<li>
  					<%= link_to 'Login', new_user_session_path  %>  
  					</li>
				<% end %>
			</ul>
		</div>
	</nav>
	