 <%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :autofocus => "autofocus", :placeholder => "Enter your name" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true, :value => current_user.email %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_area :question, required: true, :size => "50x10", :placeholder => "type your question here" %>
  </div>
  <div class="field">
    <%= f.label :newsletter %><br>
    <%= f.check_box :newsletter %>
	Subscribe to my newsletter?<br/>
  </div>
  </br>
  <div class="actions">
    <%= f.submit "Send us this question" %>
  </div>
<% end %>